body {
  font-family: 'Merriweather', sans-serif;
  margin: auto;
  padding: 2%;
  max-width: 45rem;
}

a {
  text-decoration: none;
  color: #337a61;
}

a.text:hover {
  animation: zomg 2s infinite;
  cursor: pointer;
}

.logo-img {
  display: block;
  margin: auto;
}

@keyframes zomg {
  0%,
  100% {
    filter: invert(0) saturate(100%) hue-rotate(0deg);
  }
  25% {
    filter: invert(10%) saturate(500%) hue-rotate(180deg);
  }
  50% {
    filter: invert(10%) saturate(300%) hue-rotate(300deg);
  }
  75% {
    filter: invert(10%) saturate(500%) hue-rotate(90deg);
  }
}
